<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Each Rooms</title>
</head>
<body>
    <h1>Room: <%=Item_Detail.id%></h1>
    <p>Item Name: <%=Item_Detail.item_name%></p>
    <p>First Bid: <%=Item_Detail.item_bid%></p>
    <p>Item Desc: <%=Item_Detail.item_desc%></p>
    <a href='/items/search_for_items'>Back</a>
</body>
</html>