<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
</head>
<body>
    <h1>TEST</h1>
    <a href="/user/login" id="log_button">LOGIN</a><br>
    <a href="/user/register" id="regis_button">REGISTER</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script>
        var socket = io()
        
    </script>
</body>
</html>