<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
</head>
<body>
    <h1>TEST</h1>
    <a href="/user/login">LOGIN</a><br>
    <a href="/user/register">REGISTER</a>
</body>
</html>