<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User_Page</title>
</head>
<body>
    <h1>Halo <%=usr%></h1>
    <h1>LOGGED</h1>
    <a href="/user/notif">NOTIFIKASI</a><br>
    <a href="/user/profile">PROFILE</a><br>
    <a href="/user/log_out">LOGOUT</a><br>
    <a href="/items/add_items">LELANG</a><br>
    <a href="/items/search_for_items">CARI</a>

    <!-- Untuk Cari membutuhkan room terlebih dahulu -->
</body>
</html>