<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILER</title>
</head>
<body>
    <h1>INI PROFILER</h1>
    <form action="/user/profile" method="POST" enctype="multipart/form-data">
        <div>
            <label for="biography">Biography</label>
            <input type="text" name="biography" id="biography">
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" name="address" id="address">
        </div>
        <div>
            <label for="contact">My Contact</label>
            <input type="text" name="contact" id="contact">
        </div>
        <div>
            <label for="ProfilePic">Foto Profile</label>
            <input type="file" name="ProfilePic" id="ProfilePic">
        </div>
        <input type="submit" value="SUBMIT">
    </form>
    <a href="/user/logged">Back</a>
</body>
</html>