<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>

<body>
    <% if(Success){%>
    <strong><%= Success.message%></strong>
    <%} else if (Failed) {%>
    <strong><%= Failed.message%></strong>
    <%} %>
    <h1>Adding Item</h1><br>
    <!-- <p id="demo"><%=usr%></p> -->
    <h1>HALO USER: <%=usr%></h1>
    <form action="/items/add_items" method="POST">
        <div>
            <label for="item_name">Nama Barang</label>
            <input type="text" name="item_name" id="item_name">
        </div>
        <div>
            <label for="Description">Dekripsi Barang</label>
            <input type="text" name="item_desc" id="Description">
        </div>
        <div>
            <label for="Price_Bid">Harga Barang</label>
            <input type="text" name="item_bid" id="Price_Bid">
        </div>
        <div>
            <label for="Duration">Durasi</label>
            <input list="Duration" name="Time_Duration">
            <datalist id="Duration">
                <option value="1">
                <option value="2">
                <option value="3">
                <option value="4">
                <option value="5">
                <option value="6">
                <option value="7">
                <option value="8">
                <option value="9">
                <option value="10">
                <option value="11">
                <option value="12">
                <option value="13">
                <option value="14">
                <option value="15">
                <option value="16">
                <option value="17">
                <option value="18">
                <option value="19">
                <option value="20">
                <option value="21">
                <option value="22">
                <option value="23">
                <option value="24">
            </datalist>
        </div>
        <!-- <div>
            <label for="itemsPhoto">Foto Item</label>
            <input type="file" name="itemsPhoto" id="itemsPhoto">
        </div> -->
        <div>
            <input type="submit" value="SUBMIT">
        </div>
    </form>
    <a href="/user/logged">Back</a>
</body>

</html>